      <div class="col-md-3">
        <h2>User info</h2>
        <%= image_tag user.get_profile_image(100,100) %>
        <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th><%= user.name %></th>
            </tr>
            <tr>
              <th>inroduction</th>
              <th><%= user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <% if user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(user), class: 'btn btn-outline-secondary btn-block' %></p>
        <% end %>

        <h2>New book</h2>
        <%= form_with model: book, url: '/books', method: :post do |f| %>
        <div>
          <div class="form-group mb-3">
            <p class="mb-2">Title</p>
            <%= f.text_field :title, class: 'form-control p-1' %>
          </div>
          <div class="form-group mb-3">
            <p class="mb-2">Opinion</p>
            <%= f.text_area :body, class: 'form-control p-1p-1' %>
          </div>
          <div>
            <%= f.submit 'Create Book', class: 'btn btn-success' %>
          </div>
        </div>
        <% end %>
      </div>