<main>
  <div class="container">

    <div class="row">
      <div class="mx-auto">
        <h1>welcome to
          <i class="fa-solid fa-book"></i><storong> Bookers</storong> !!</h1>
          <p>In <i class="fa-solid fa-book"></i><storong> Bookers</storong></p>
          <p>you can share and exchange your opinions , inpressions , and emotions</p>
          <p>about various books!</p>
      </div>
    </div>

    <div class="col-5 btn-wrapper mx-auto">
      <% if user_signed_in? %>
      <div class="row">
        <%= link_to "Log in", user_path(current_user.id),class: 'btn btn-info btn-block text-white mb-3' %>
      </div>
      <div class="row">
        <%= link_to "Sign up", user_path(current_user.id), class: 'btn btn-success btn-block text-white' %>
      </div>
      <% else %>
      <div class="row">
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      </div>
      <div class="row">
        <%= link_to "Log in", new_user_session_path,class: 'btn btn-info btn-block text-white mb-3' %>
      </div>
      <div class="row">
        <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success btn-block text-white' %>
      </div>
      <% end %>
    </div>

  </div>
</main>